
@{
    ViewBag.Title = "DepositReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Bank.Models;
@model Deposit
<h2>Отчёт по депозитам</h2>

   
    <ul>
            <li>Уникальный номер депозита : @Model.DepositId </li>
            <li>Дата окончания : @Model.ExpirationDate </li>
            <li>Сумма вложеных денег : @Model.Sum </li>
            <li>Сумма процентов : @Model.SumOfInterest </li>
    </ul>

