
@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCash</title>
</head>
<body>
    <div> 
        <p>model</p>
        @ViewBag.id
    </div>
</body>
</html>
