
@{
    Layout = null;
}

<!DOCTYPE html>
@*страница вывода сообщения после добавления клиента банка в бд*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BackToIndex</title>
</head>
<body>
    <div> 
        <p>@ViewBag.InfoText</p>
        @Html.ActionLink("Вернуться на главную страницу", "Index");
    </div>
</body>
</html>
